body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
}

.landing-container {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  background-image: url('/SiegeBanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.4); 
  background-blend-mode: overlay; 
}

.landing-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.landing-header h1 {
  margin-bottom: 10px;
  font-size: 3.5rem;
}

.landing-header p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
